{% block meta %}
  <meta property="og:url" content="http://www.promor.com.mx/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Maquinaria para café | PROMOR" />
  <meta property="og:description" content="Dedicados al diseño y a la fabricación de maquinaria para café. Los equipos PROMOR son capaces de llevar acabo cada etapa del proceso: beneficio húmedo, beneficio seco, torrefacción y catación. Somos distribuidores exclusivos de Penagos en el beneficiado húmedo y de la empresa alemana líder en molinos para café Mahlkönig." />
  <meta property="og:image" content="http://www.promor.com.mx/img/seo/promor-seo.png" />
  <meta property="og:image:width" content="262" />
  <meta property="og:image:height" content="317" />

  <meta name="title" content="Maquinaria para café | PROMOR" />
  <meta name="keywords" content="maquinaria para café, torrefacción, tostaduría de café, tostadores de café, beneficios de café, fincas de café, Mahlkoening, Mahlkönig, molinos para café, secadoras de café, Pengaos, diseño de beneficios de café, despulpadoras de café, secamiento de café">
  <meta name="description" content="Dedicados al diseño y a la fabricación de maquinaria para café. Los equipos PROMOR son capaces de llevar acabo cada etapa del proceso: beneficio húmedo, beneficio seco, torrefacción y catación. Somos distribuidores exclusivos de Penagos en el beneficiado húmedo y de la empresa alemana líder en molinos para café Mahlkönig." />
{% endblock %}
