{% extends "partials/base.njk" %}

{% block title %}Molino EK 43 S{% endblock %}

{% set view_name = "starProducts" %}

{% block content %}
<section class="starProds">
  <div class="starProds-background"></div>
  <div class="starProds-sheet">
    <div class="starProds-sheet-content">
      <h1 class="starProds-sheet-title bigcaslon-medium">{{es.grinder.title}}</h1>
      <p class="starProds-sheet-desc karla-bold" id="descWithBorders">{{es.grinder.descOne}}</p>
      <h2 class="starProds-sheet-subtitle karla-bold">{{es.grinder.subtitleFive}}</h2>
      <ul class="starProds-sheet-ul">
        {% for list in es.grinder.list %}
        <li class="starProds-sheet-li karla">{{list.item}}</li>
        {% endfor %}
      </ul>
      <h2 class="starProds-sheet-subtitle karla-bold">{{es.grinder.subtitleSix}}</h2>
      <div class="starProds-table-container">
        <table class="starProds-table">
          <tr>
            {% for th in es.grinder.tableTH %}
            <th class="karla-bold">{{th.content}}</th>
            {% endfor %}
          </tr>
          {% for td in es.grinder.tableTD %}
          <tr>
            <td class="karla">{{td.contentLeft}}</td>
            <td class="karla">{{td.contentRight}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <img class="starProds-sheet-img grinderProduct" src="{{es.grinder.img}}" alt="{{es.grinder.imgAlt}}">
    <a href="contacto.html">
      <button class="promor-btn karla-bold">cotiza</button>
    </a>
  </div>
</section>
{% endblock %}
