<footer class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <div class="footer-section-container">
        {% for section in es.footer.sections %}
        <div class="footer-section-content">
          <a class="footer-section {% if view_name == section.viewName %}active{% endif %} karla" href="{{section.link}}">{{section.name}}</a>
        </div>
        {% endfor %}
      </div>
      <div class="footer-contact-container">
        <div class="footer-contact-middle">
          <span class="footer-section karla" id="phone-nohover">{{es.footer.phone}}</span>
          <a id="footer-fb" href="{{es.footer.fbLink}}" target="_blank">
            <div class="footer-icon-fb"></div>
          </a>
        </div>
        <a class="footer-section karla" id="footer-address" href="{{es.footer.addressLink}}" target="_blank">{{es.footer.address}}</a>
      </div>
    </div>
    <div class="footer-logo-container">
      <a href="{{es.footer.logoLink}}">
        <img class="footer-logo" src="{{es.footer.logo}}" alt="Logo of the footer">
      </a>
      <span class="footer-copyright karla">{{es.footer.copyright}}</span>
    </div>
  </div>

  <div class="footer-content-mobile">
    <div class="footer-logo-container">
      <a href="{{es.footer.logoLink}}">
        <img class="footer-logo" src="{{es.footer.logo}}" alt="Logo of the footer">
      </a>
    </div>
    <div class="footer-info">
      <div class="footer-section-container">
        {% for section in es.footer.sections %}
        <div class="footer-section-content">
          <a class="footer-section {% if view_name == section.viewName %}active{% endif %} karla" href="{{section.link}}">{{section.name}}</a>
        </div>
        {% endfor %}
        <div class="footer-contact-middle">
          <span class="footer-section karla" id="phone-nohover">{{es.footer.phone}}</span>
          <a id="footer-fb" href="{{es.footer.fbLink}}" target="_blank">
            <div class="footer-icon-fb"></div>
          </a>
        </div>
      </div>
      <div class="footer-contact-container">
        <a class="footer-section karla" id="footer-address" href="{{es.footer.addressLink}}" target="_blank">{{es.footer.address}}</a>
      </div>
    </div>
    <span class="footer-copyright karla">{{es.footer.copyright}}</span>
  </div>
</footer>
