.footer
  align-items center
  background-image url("../img/backgrounds/footer-bg.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  bottom 0
  display flex
  flex-direction row
  height 192px
  justify-content space-between
  padding 0 108px
  position absolute
  width 100%

  &-content
    display flex
    flex-direction row
    height 72px
    justify-content space-between
    width 100%

  &-section
    color $whitE
    display block
    font-size $fs12
    letter-spacing 1px
    line-height 20px
    width 165px

    &:hover
      font-weight 700

    &-container
      display flex
      flex-direction row

      & div a:nth-child(2),
      .footer-icon
        display block
        margin-top 24px

    &-column
      display flex
      flex-direction row

  &-icon
    height 13px
    width 7px

  &-logo
    height 33px
    width 117px

    &-container
      display flex
      flex-direction column

  &-copyright
    color $whitE
    font-size $fs11
    letter-spacing 0.8px
    margin-top 20px

@media screen and (min-width 730px) and (max-width 900px)
  .footer
    padding 0 30px

@media screen and (max-width 729px)
  .footer
    justify-content center
    padding 0 30px

    &-content
      flex-direction column-reverse
      height auto
      width 495px

    &-logo
      &-container
        margin-bottom 30px
        & a
          width 117px

@media screen and (max-width 540px)
  .footer
    height 300px
    padding 0

    &-content
      width 205px

    &-section
      &-container
        flex-direction column

        & a span
          width 165px

      &-column
        & div a span
          margin-right 30px
          margin-bottom 20px
          width auto
