.footer
  align-items center
  background-image url("../img/backgrounds/footer-bg.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  bottom 0
  display flex
  flex-direction row
  height 192px
  justify-content space-between
  padding 0 108px
  position absolute
  width 100%

  &-content
    display flex
    flex-direction row
    height 72px
    justify-content space-between
    width 100%

    &-mobile
      display none

  &-section
    color $whitE
    display block
    font-size $fs12
    letter-spacing 1px
    line-height 20px
    width 165px

    &:hover,
    &.active
      color $greenT1

    &-container
      display flex
      flex-direction row

      & div a:nth-child(2),
      .footer-icon
        display block
        margin-top 24px

    &-column
      display flex
      flex-direction row

  &-icon
    &-fb
      background-image url("../img/icons/icon-fb.png")
      background-repeat no-repeat
      background-size cover
      height 13px
      width 7px

      &:hover
        background-image url("../img/icons/icon-fb-green.png")

  &-logo
    height 33px
    width 117px

    &-container
      display flex
      flex-direction column

  &-copyright
    color $whitE
    font-size $fs11
    letter-spacing 0.8px
    margin-top 20px

#phone-nohover
  color $whitE

@media screen and (min-width 730px) and (max-width 900px)
  .footer
    padding 0 30px

@media screen and (max-width 729px)
  .footer
    justify-content center
    padding 0 30px

    &-content
      flex-direction column-reverse
      height auto
      width 495px

    &-logo
      &-container
        margin-bottom 30px
        & a
          width 117px

@media screen and (max-width 540px)
  .footer
    height 300px
    padding 0

    &-logo
      &-container
        align-items center

    &-content
      display none

      &-mobile
        align-items center
        display flex
        flex-direction column
        width 100%

    &-section
      &-container
        flex-direction column

        & div a:nth-child(2)
          margin-top 0

        & a span
          margin 0 auto
          text-align center
          width 250px

      &-column
        margin-bottom 30px

        & div span
          margin-right 0

        & div a span
          margin-right 15px
          margin-bottom 0
          width auto

    &-copyright
      margin-top 30px
      text-align center

  #phone-nohover
    width auto

    &:before
      background-color $greenT1
      content ""
      display inline-block
      height 12px
      margin 0 15px 0 0
      vertical-align middle
      width 2px

    &:after
      background-color $greenT1
      content ""
      display inline-block
      height 12px
      margin 0 15px
      vertical-align middle
      width 2px
