.footer
  align-items center
  background-image url("../img/backgrounds/footer-bg.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  display flex
  height 192px
  padding 0 108px
  width 100%

  &-content
    display flex
    justify-content space-between
    flex 1

    &-mobile
      display none

  &-info
    display flex
    flex-direction row

  &-section
    color $whitE
    font-size $fs12
    letter-spacing 1px

    &:not(#phone-nohover):hover,
    &:not(#phone-nohover).active
      color $greenT1

    &-container
      display flex
      flex-wrap wrap
      width 248px

    &-content
      &:nth-child(-n+2)
        margin-bottom 20px

      &:nth-child(odd)
        margin-right 70px
        width 58px

      &:nth-child(even)
        width 120px

  &-icon
    &-fb
      background-image url("../img/icons/icon-fb.png")
      background-repeat no-repeat
      background-size cover
      height 13px
      width 7px

      &:hover
        background-image url("../img/icons/icon-fb-green.png")

  &-contact
    &-container
      display flex
      flex-direction row

    &-middle
      margin 0 70px

  &-logo
    height 33px
    width 117px

    &-container
      display flex
      flex-direction column

  &-copyright
    color $whitE
    font-size $fs11
    letter-spacing 0.8px
    margin-top 20px

#footer
  &-address
    line-height 20px
    width 165px

  &-fb
    display block
    margin-top 23px
    width 7px

@media screen and (max-width 1090px)
  .footer
    height 300px
    padding 0

    &-content
      align-items center
      flex-direction column-reverse
      justify-content center

    &-logo
      &-container
        margin-bottom 35px

@media screen and (max-width 740px)
  .footer
    justify-content center

    &-content
      display none

      &-mobile
        align-items center
        display flex
        flex-direction column

    &-info
      align-items center
      flex-direction column

    &-section
      line-height 26px
      margin 0 10px
      text-align center

      &-container
        justify-content center
        width 320px

      &-content
        &:nth-child(-n+2)
          margin-bottom 0

        &:nth-child(odd)
          margin-right 0
          width auto

        &:nth-child(even)
          width auto

    &-contact
      &-middle
        align-items center
        display flex
        margin 0

    &-copyright
      margin-top 25px

  #phone-nohover
    align-items center
    display flex
    margin 0

    &:before,
    &:after
      background-color $greenT1
      content ""
      display block
      height 12px
      width 2px

    &:before
      margin 0px 10px 0 0

    &:after
      margin 0px 10px 0 10px

  #footer
    &-fb
      margin-top -2px

    &-address
      margin-top 20px
      width 254px
