@font-face
  font-family: 'BigCaslon'
  src url('../fonts/BigCaslon-Medium.woff') format('woff')
  font-style normal
  font-weight $medium

@font-face
  font-family: 'Karla'
  src url('../fonts/Karla-Bold.woff') format('woff')
  font-style normal
  font-weight $bold

@font-face
  font-family: 'Karla'
  src url('../fonts/Karla-BoldItalic.woff') format('woff')
  font-style italic
  font-weight $bold

@font-face
  font-family: 'Karla'
  src url('../fonts/Karla-Italic.woff') format('woff')
  font-style italic
  font-weight $regular

@font-face
  font-family: 'Karla'
  src url('../fonts/Karla-Regular.woff') format('woff')
  font-style normal
  font-weight $regular

.bigcaslon-medium
  font-family "BigCaslon"
  font-style normal
  font-weight $medium
  -webkit-font-smoothing: antialiased

.karla-bold
  font-family "Karla"
  font-style normal
  font-weight $bold
  -webkit-font-smoothing: antialiased

.karla-bolditalic
  font-family "Karla"
  font-style italic
  font-weight $bold
  -webkit-font-smoothing: antialiased

.karla-italic
  font-family "Karla"
  font-style italic
  font-weight $regular
  -webkit-font-smoothing: antialiased

.karla
  font-family "Karla"
  font-style normal
  font-weight $regular
  -webkit-font-smoothing: antialiased
