.promor
  &-btn
    align-items center
    background-color transparent
    border none
    color $whitE
    cursor pointer
    display flex
    font-size $fs15
    height 27px
    letter-spacing 0.8px
    padding 0 8px
    position relative
    text-transform uppercase
    transition 0.2s

    &:after
      background-color $greenT1
      bottom 0
      content ""
      display block
      height 2px
      left 0
      position absolute
      right 0

    &:hover
      background-color $greenT1
      color $whitE
      transition 0.3s
