// COLORS
$errorColor = #ff3636
$successColor = #149a14

$blackT1 = #2c2c2c
$grayT1 = #777777
$grayT2 = #9b9b9b
$greenT1 = #26963d
$greenT2 = #0f4627
$greenT3 = #0d4525
$whitE = #ffffff

// Base font-sizes
$baseFontSize = 16

$fs11 = 11px
$fs12 = 12px
$fs13 = 13px
$fs14 = 14px
$fs16 = 16px
$fs19 = 19px
$fs30 = 30px
$fs40 = 40px
$fs62 = 62px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black
